<h1 class="pb-10 text-6xl align-text-top">My Lists</h1>
<div>
  <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <% if @lists.length > 0 %>
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
          <%= render 'list', list: list %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_list_path do %>
        <%= render 'empty_list_card' %>
      <% end %>
    <% end %>
  </ul>
</div>
