<h1>Watchlist</h1>
<p>Your own personal movie curator!</p>
<hr class="my-8">
<div>
  <h3>Go checkout our movies and start making a new list!</h3>
  <%= link_to "Go to movies", movies_path,  class: "inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
</div>
